.bannerImg {
  width: 100%;
  position:fixed;
  z-index: -1;
  left: 0px;
}
.mainTitle {
  text-align: center;
  text-decoration: underline;
}
.mainTextModify {
  margin-left: 5%;
  margin-right: 5%;
}
.testimonials {
  width: 40%;
  margin-left: 5%;
  float:left;
  border: 1px solid black;
}
.disclamer {
  color: red;
}
.cautionStatement {
  float:right;
  border: 1px solid black;
}
.goToPage2 {
  border: 1px solid black;
  padding: 30px;
  border-radius: 15%;
  margin-left: 50%;
  width: 40px;
}
