
.imgBackground {
background-image: url(images/workoutGirl.jpg);
position: absolute;
width: 100%;
height: 75%;
left: 0px;
z-index: -2;
}
.scrollFix {
  overflow-y: scroll;
  background-color: #3A4C5F;
}
.mainTitle {
  text-align: center;
  text-decoration: underline;
  color: #F6F7FA;
}
nav {
  background-color: #3C5695;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.descriptionPlace {
  background-color: #3A4C5F;
  opacity: 0.75;
  padding: 10px;
  color: #F6F7FA;
  position:relative;
  top: 55px;
  width: 99%;
  border: 1% solid ##3A4C5F;
  border-radius: 8px;
}
.mainTextModifyH2 {
  text-decoration: underline;
}
.mainContent {
  position: absolute;
  top: 600px;
  width: 100%;
}
.testimonials {
  background-color: #3C5695;
  opacity: 0.9;
  color: #F6F7FA;
  padding: 10px;
  width: 25%;
  height: 250px;
  overflow-y: scroll;
  margin-left: 5%;
  margin-right: 2.5%;
  float:left;
  border: 1px solid #3C5695;
  border-radius: 6px;
  float:left;
}
.testimonials::-webkit-scrollbar {
    display: none;
}
.workoutSize {
  background-color: #3C5695;
  opacity: 0.9;
  color: #F6F7FA;
  padding: 10px;
  width: 25%;
  height: 250px;
  overflow-y: scroll;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float:left;
  border: 1px solid #3C5695;
  border-radius: 6px;
  float:left;
}
.disclamer {
  color: #F6F7FA;
}

.cautionStatement {
  position:absolute;
  background-color: #3C5695;
  opacity: 0.9;
  width: 40%;
  top: 800px;
  margin-right: 5%;
  margin-left: 55%;
  float:right;
  border: 1px solid #3C5695;
  border-radius: 6px;
  padding: 10px;
}

.goToPage2 {
  display: inline;
  border: 1px solid black;
  padding: 30px;
  border-radius: 15%;
  margin-left: 50%;
  width: 40px;
}

.formBox {
  width: 46%;
  margin-left: 27%;
  margin-right: 27%;
  text-align: left;
  position: absolute;
  margin-top: 120px;
}

.formHeader {
  text-align: center;
  color: rgb(157, 176, 163);
}

#workoutResults1, #workoutResults2, #workoutResults3, #workoutResults4, #workoutResults5, #workoutResults6 {
  width: 35%;
  height: 180px;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  border: thin black solid;
}

#instructions{
  margin-top: 88px;
}

#resultsPage {
  background-image: url('images/robot.jpg');
  background-repeat: no-repeat;
}

.iframeSizing {
  width: 300px;
  /*height: 250px;*/
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}
.description {
}

#continueButton {
  position:absolute;
  top: 350px;
  right: 185px;
  box-shadow: 9px 6px 20px #9DB0A3;
  background-color: rgb(58, 76, 95);
  color: rgb(246, 247, 250);

}
 a {
  text-decoration: none;
}

.formBody {
  background-image: url(images/Post-Image.jpg);
}

.formBox {
}

.formInfo {
  padding: 20px;
  font-weight: bold;
  color: rgb(157, 176, 163);
}

.formTitle {
  background-color: rgba(0, 0, 0, 0.7);
}
