
.imgBackground {
background-image: url(images/workoutGirl.jpg);
position: fixed;
z-index: -2;
}
.mainTitle {
  text-align: center;
  text-decoration: underline;
  color: #F6F7FA;
}
nav {
  background-color: #3A4C5F;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.descriptionPlace {
  position:relative;
  top: 200px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.testimonials {
  position:absolute;
  top: 400px;
  width: 40%;
  margin-left: 5%;
  float:left;
  border: 1px solid black;
}

.disclamer {
  color: red;
}

.cautionStatement {
  position:absolute;
  width: 40%;
  top: 550px;
  right: 0px;
  float:right;
  border: 1px solid black;
}

.goToPage2 {
  display: inline;
  border: 1px solid black;
  padding: 30px;
  border-radius: 15%;
  margin-left: 50%;
  width: 40px;
}

.formBox {
  width: 46%;
  margin-left: 27%;
  margin-right: 27%;
  text-align: left;
  position: absolute;
  margin-top: 120px;
}

.formHeader {
  text-align: center;
}

#workoutResults1, #workoutResults2, #workoutResults3, #workoutResults4, #workoutResults5, #workoutResults6 {
  width: 50%;
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
}

.iframeSizing {
  width: 400px;
  height: 250px;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  float:left;
}
.description {
}

#continueButton {
  position:absolute;
  top: 350px;
  right: 185px;
  box-shadow: 9px 6px 20px #9DB0A3;
  background-color: rgb(58, 76, 95);
  color: rgb(246, 247, 250);

}
 a {
  text-decoration: none;
}

.formBody {
  background-image: url(images/Post-Image.jpg);
}

.formInfo {
  border: 1px solid black;
  padding: 20px;
  font-weight: bold;
}
